<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="~{common/head :: head}"></th:block>
<body>
    <th:block th:insert="~{common/header :: header}"></th:block>

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 mb-5">
                    <div>
                        <p class="mb-1">
                            <strong th:text="'[' + ${categoryName} + ']'"></strong>
                            <strong th:text="${post.title}"></strong>
                        </p>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                            <span class="text-muted" th:text="${post.writerName != null ? post.writerName : post.guestNickname}"></span>
                            <span class="mx-2 text-muted">|</span>
                            <span class="text-muted" th:text="${post.updatedDateTime}"></span>
                        </div>

                        <div th:if="${post.writerId != null}" class="d-flex justify-content-end mb-1">
                            <div th:if="${session.loginMember == post.writerId}" class="d-flex justify-content-end">
                                <button type="button" th:onclick="|location.href='@{/board/modify/{postId}(postId=${post.id}, id=${boardTitle})}'|" class="btn btn-sm btn-primary me-2">수정</button>
                                <button id="deletePostBtn" type="button" class="btn btn-sm btn-primary" th:attr="data-post-id=${post.id}">삭제</button>
                            </div>
                        </div>

                        <div th:if="${post.writerId == null}" class="d-flex justify-content-end mb-1">
                            <button type="button" id="guestModifyBtn" th:onclick="|location.href='@{/board/guest/{postId}/modify(postId=${post.id}, id=${boardTitle})}'|" class="btn btn-sm btn-primary me-2">수정</button>
                            <button type="button" id="guestDeleteBtn" th:onclick="|location.href='@{/board/guest/{postId}/delete(postId=${post.id}, id=${boardTitle}, category=${category})}'|" class="btn btn-sm btn-primary me-2">삭제</button>
                        </div>
                    </div>

                    <hr class="mt-1 mb-3"/>
                    <div class="mb-3">
                        <div th:utext="${post.content}" class="form-control-plaintext post-content" style="white-space: pre-line;"></div>
                    </div>
                </div>
            </div>
            <div th:insert="~{post/comment :: commentList}"></div>
        </div>
    </main>

<!-- 스크립트 -->
<script th:inline="javascript">
  // 삭제 폼 제출 전 확인
  $(document).ready(function() {
    const $deletePostBtn = $('#deletePostBtn');

    if ($deletePostBtn.length) {
      $deletePostBtn.on('click', function() {
        const postId = $(this).data('post-id');
        const isConfirmed = confirm('정말 삭제하시겠습니까?');

        if (isConfirmed) {
          // 동적으로 폼 생성
          const form = $('<form>', {
            method: 'POST',
            action: `/board/${postId}/delete`
          });

          $('body').append(form);
          form.submit();
        }
      });
    }
  });
</script>
</body>
</html>
