<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{common/head :: head}"></div>
<body>
<div class="container py-3">
    <div th:insert="~{common/header :: header}"></div>

    <main>
        <!-- 글쓰기 폼 -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" method="post" id="deleteForm">
                    <div class="mb-3">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select" id="category" name="categoryType" readonly disabled>
                            <option th:selected="${post.categoryName == '일반'}" value="general">일반</option>
                            <option th:selected="${post.categoryName == '질문'}" value="question">질문</option>
                            <option th:selected="${post.categoryName == '정보'}" value="information">정보</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input th:value="${post.title}" type="text" class="form-control" id="title" name="title" readonly disabled>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea th:text="${post.content}" class="form-control" id="content" name="content" rows="6" readonly disabled></textarea>
                    </div>
                    <div th:if="${session.loginMember == post.writerId}" class="d-flex justify-content-start">
                        <button th:onclick="|location.href='@{/posts/{postId}/update(postId=${post.id})}'|" type="button" class="btn btn-primary me-2">수정하기</button>
                        <button type="submit" class="btn btn-primary">삭제하기</button>
                    </div>
                </form>
            </div>

        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script th:inline="javascript">
  // 삭제 폼 제출 전 확인
  document.getElementById('deleteForm').addEventListener('submit', function(event) {
    var confirmDelete = confirm('정말로 삭제하시겠습니까?');
    if (!confirmDelete) {
      event.preventDefault(); // 폼 제출을 중단합니다.
    }
  });
</script>
</body>
</html>
