<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{common/head :: head}"></div>
<body>
<div class="container py-3">
    <div th:insert="~{common/header :: header}"></div>

    <main>
        <!-- 글쓰기 폼 -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form method="post">
                    <div class="mb-3">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select" id="category" name="categoryType" readonly disabled>
                            <option th:selected="${post.categoryName == '일반'}" value="GENERAL">일반</option>
                            <option th:selected="${post.categoryName == '질문'}" value="QUESTION">질문</option>
                            <option th:selected="${post.categoryName == '정보'}" value="INFORMATION">정보</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input th:value="${post.title}" type="text" class="form-control" id="title" name="title" readonly disabled>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea th:text="${post.content}" class="form-control" id="content" name="content" rows="6" readonly disabled></textarea>
                    </div>
                    <div th:if="${session.loginMember == post.writerId}" class="d-flex justify-content-start">
                        <button th:onclick="|location.href='@{/board/view/{postId}/update(postId=${post.id})}'|" type="button" class="btn btn-primary me-2">수정</button>
                        <button id="deletePostBtn" type="button" class="btn btn-primary" th:attr="data-post-id=${post.id}">삭제</button>
                    </div>
                </form>
            </div>

            <div th:insert="~{post/comment :: commentList}"></div>

        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script th:inline="javascript">

  // 삭제 폼 제출 전 확인
  document.getElementById('deletePostBtn').addEventListener('click', function() {
    const postId = this.getAttribute('data-post-id');
    const isConfirmed = confirm('정말 삭제하시겠습니까?');

    if (isConfirmed) {
      // 동적으로 폼 생성
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = `/board/${postId}/delete`;

      document.body.appendChild(form);
      form.submit();
    }
  });
</script>
</body>
</html>
